:root {
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --key-background: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --key-background-toggle: hsl(6, 63%, 50%);
    --key-shadow: hsl(6, 70%, 34%);
    --key-background: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "League Spartan", sans-serif;
    background: var(--main-background);
    color: var(--White);
}

.wrapper {
    width: 500px;
    height: 100vh;
    margin-inline: auto;
    padding-top: 10em;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__title {
    font-size: 1.8rem;
}

.control__theme-changer {
    display: flex;
    align-items: center;
    gap: 2em;
}

.theme-changer__theme {
    text-transform: uppercase;
    font-size: .6rem;
    margin-top: .4em;
}

.control__bar {
    background: var(--toggle-background);
    width: 50px;
    height: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

.control__bar::after {
    content: "1 2 3";
    position: absolute;
    top: -15px;
    letter-spacing: .4em;
    left: 5px;
    font-size: .7rem;
}

.control__ball {
    background: var(--key-background-toggle);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 3px;
    transition: all .3s;
}

